{% extends 'base.html' %}

{% block x %}
<div class="fs-2 text-center">Video<b class="text-mycolor">Gallery<i class="fas-fa-industry"></i>
</b>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row">
      {% for x in data %}
            <div class="col-sm-12 my-3">
                <div class="card">
                    <img src="/{{x.bpicture}}" class="img-card-top">
                     <div class="card-body">
                        <h5 class="card-title">{{x.bname}}</h5>
                        <p>
                            {{x.bdes}}
                        </p>
                        <span class="btn btn-sm bg-mycolor">
                            <i class="fa-regular fa-calendar-days"></i>{{x.bdate}}
                        </span>

                    </div>
                </div>
            <!--end video-->

        </div>
            {% endfor %}
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endblock %}