{% extends 'base.html' %}

{% block x %}
<div class="fs-2 text-center">Video<b class="text-mycolor">Gallery<i class="fas-fa-industry"></i>
</b>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="row">
      {% for x in vdata %}
            <div class="col-sm-12 my-3">
                <div class="card">
                    <iframe class="w-100 img-card-top" style="min-height:350px;" src="{{x.vlink}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <div class="card-body">
                        <h5 class="card-title">{{x.vtitle}}</h5>
                        <p>
                            {{x.vdes}}
                        </p>
                        <span class="btn btn-sm bg-mycolor">
                            <i class="fa-regular fa-calendar-days"></i>{{x.vdate}}
                        </span>
                        <a href="#" class="btn btn-sm bg-mycolor">View More</a>
                    </div>
                </div>
            <!--end video-->

        </div>
            {% endfor %}
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
{% endblock %}